body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#button {
  padding: 5px 25px;
  border-width: 2px;
  border-radius: 4px;
  font-size: 24px;
  color: white;
  background-color: rgb(208, 46, 46);
}

.labels {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

